<h2>Login with Gmail</h2>
<button (click)="loginWithGoogle()" mat-raised-button class="google-login-btn">Google</button>
<div><button mat-flat-button color="stroked" type="button" onclick="history.go(-1)">Back to Drink</button></div>

<!-- Old login form -->
      <!-- <div class = "container">

        <form [formGroup]="userForm" (ngSubmit)="onLogin()">

          <div class="formGroup">
            <label for="user">User: </label>
            <input type="text"
              id="user"
              formControlName="user">

          </div>

          <div class="formGroup">
            <label for="email">Email: </label>
            <input type="email"
              id="email"
              formControlName="email">
          </div>

          <button type="submit">Login</button>
        </form>

      </div> -->
